<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{{env.TITLE}}{% endblock %}</title>
	<link rel="icon" href="/client/img/icon.ico">
	<link rel="stylesheet" href="/client/css/style.css">
	{% block head %}
	{% endblock %}
</head>
<body>
	<header>
		{% block header %}
			<pre>{{ errors | tojson(indent=2) }}</pre>
			<hr>
			<pre>{{ successes | tojson(indent=2) }}</pre>
		{% endblock %}
	</header>

	<main>
		{% block content %}
		{% endblock %}
	</main>

	<footer>
		{% block footer %}
		<p>&copy; 2025 42 Transcript Generator. All rights reserved. | v{{ env.VERSION }}</p>
		{% endblock %}
	</footer>

	<script src="/client/js/script.js"></script>
</body>
</html>
