:root {
	/*
	 * Put the most things here
	 * There should be every color, font, gradients
	 *  and other things that are used more than once
	 */
}

a {
	text-decoration: inherit;
	color: inherit;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}
